{% extends "examen_forms_sesiones/base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Examen de Forms y Sesiones</h1>
    <p class="lead">Gestiona tus ensayos clínicos, usuarios y más desde esta aplicación.</p>
    
    {% if request.session.fecha_inicio %}
        <div class="alert alert-info mt-4">
            Fecha y hora de tu primera visita a la página: {{ request.session.fecha_inicio }}
        </div>
    {% endif %}

    <div class="mt-4">
        {% if user.is_authenticated %}
            {% if perms.examen_forms_sesiones.add_ensayoclinico %}
                <a href="{% url 'ensayoclinico_create' %}" class="btn btn-primary me-2">Crear Ensayo Clínico</a>
            {% endif %}
            {% if perms.examen_forms_sesiones.view_ensayoclinico %}
                <a href="{% url 'lista_ensayos_clinicos' %}" class="btn btn-success me-2">Listar Ensayos Clínicos</a>
            {% endif %}
        {% endif %}
        {% if not user.is_authenticated %}
            <a href="{% url 'signup' %}" class="btn btn-secondary me-2">Registrarse</a>
            <a href="{% url 'login' %}" class="btn btn-secondary">Iniciar Sesion</a>
        {% endif %}
    </div>
</div>
{% endblock %}
